fastapi
uvicorn
psycopg2-binary==2.9.9
pinecone>=6.0.2
assemblyai>=0.6.3
boto3==1.29.3
python-dotenv==1.0.0
python-multipart==0.0.6
pydub==0.25.1
requests>=2.31.0
werkzeug==2.2.3
websockets
pydantic==2.5.2
numpy==1.26.2
torch==2.1.1